Flask
Flask-RESTful
gunicorn
itsdangerous
Jinja2
peewee
Werkzeug
Pillow
https://download.pytorch.org/whl/cpu/torch-1.8.0%2Bcpu-cp38-cp38-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.9.0%2Bcpu-cp38-cp38-linux_x86_64.whl
